body {
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 3rem 0 3rem 0;
    color: #0d0d0d;
}

h1{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

h2{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

nav ul {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: 2rem;
    background-color: #d95e52;
    border-radius: 15px;
}

nav li {
    padding: 1rem;
}

nav li a:link {
    text-decoration: none;
    color: #f2f2f2;
    font-weight: 700;
    letter-spacing: .1rem;
}

nav li a:hover {
    color: #f2b4ae;
}

.blog-posts{
    display:flex;
    background-color: #f2b4ae;
    padding: 2rem 2rem 3rem 3rem;
}

.blog-posts:nth-child(2){
    padding-top: 0;
}

.blog-posts__column{
    flex:1;
    margin: 1rem 1rem 0 0;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 10px;
}

.blog-posts__post{
    justify-content: space-between;
    padding: 0 1rem 1rem 1rem;
}

.blog-posts__content img{
    width:75%;
}

.blog-posts__post a {
    text-decoration: none;
    color: #d98b84;
    font-weight: 700;
}

footer{
    display: flex;
    align-items: center;
    padding: 1rem 3rem ;
}

footer div {
    flex:1;
}
footer img {
    width:25%;
}